
<div id='menu'>
        <nav class='menu-main'>

            <ul class='menu-items'>

                <li>
                    <a href='/jatto/'>Home</a>
                </li>

                <li>
                    <a href='/jatto/about/'>About</a>
                </li>

                <li>
                    <a href='/jatto/resume/'>Resume</a>
                </li>

                <li>
                    <a href='/jatto/portfolio/'>Portfolio</a>
                </li>


                <li>
                    <a href='/jatto/blog/'>Blog</a>
                </li>


                <li>
                    <a href='/jatto/contact/'>Contact</a>
                </li>
            </ul>
        </nav>
    </div>